{% extends "layout.html" %}

{% block title %}
    {{bookInfo[0]['title']}}
{% endblock %}

{% block content %}
<section>		
    <div class="container border border-secondary" style="background-color: #c6a78e;border-color:#914300;border: 1rem;">
        <div id="home" class="jumbotron border border-secondary" style="text-align: center;border: 1rem;background-color: #c6a78e;border-color:#914300;">
            <div class="row book-container">
                <div class="col-sm-4">
                    <img src="http://covers.openlibrary.org/b/isbn/{{bookInfo[0]['isbn']}}-M.jpg" style="border: 5in;border-color: #3a3a3a;" width="130px">    
                </div>
                <div class="container" style="text-align: center;justify-content: center;width: 300px;height:300px ;" >
                    <div id="home" style="text-align: center;border:1rem; border-color:#914300;" >
                        <h2 style="color: #3a3a3a;">{{bookInfo[0]['title']}}</h1>
                        <h4 style="color: #3a3a3a;">Author: {{bookInfo[0]['author']}}</h4>
                        <h4 style="color: #3a3a3a;">Published: {{bookInfo[0]['year']}}</h4>
                        <h4 style="color: #3a3a3a;">ISBN-10: {{bookInfo[0]['isbn']}}</h4>  
                    </div>
                  </div>
            
                <!--GOODREADS REVIEWS -->
                <div class="col-sm-4">
                    <img class="mb-3" src="../static/goodreads.jpg" alt="Goodreads" width="200" height="45">
                    <h5>Nº of Ratings: {{bookInfo[1]['work_ratings_count']}}</h5>
                    <h5>Average Rating: {{bookInfo[1]['average_rating']}}</h5>
                    <h5>
                        <a href="https://www.goodreads.com/search?q={{bookInfo[0]['title']}}" style="color:#3a3a3a">Goodreads page</a>
                    </h5>
                </div>
            </div>

            <h3><u>Make your own review!</u></h3>
    <br>
        <!-- REVIEW FORM -->
        <form method="POST" class="form-border" >
            <div class="form-row">
                <div class="form-group col-sm" style="border: 1rem;border-color: #914300;">
                    <label for="rating" style="color:#3a3a3a;font-size: 15pt;">Rate this book</label>
                    <select id="rating" name="rating" class="form-control" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option selected value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br><br>
                    <div class="input-group">
                        <textarea placeholder="Comment your opinion on book..." name="comment" id="comment" class="form-control mt-auto" rows="1" required></textarea>
                        <br><br>
                        <button class="btn btn-outline-warning mb-auto" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <h3><u>Users Reviews</u></h3>

        <!-- REVIEW LIST -->
        <br>
        <div id="userReviews" >
            {% for review in reviews %}
            <div class="list-group bg-transparent" style="border-color: #914300;">
                <li class="list-group-item list-group-item-action bg-transparent flex-column align-items-start" style="border-color: #914300;">
                    <div class="d-flex w-100 justify-content-between bg-transparent" style="border-color: #914300;">
                        <h4 class="mb-1" >{{review['username']}} said...</h4>
                        <hr style="color:#914300" class="my-4">
                    </div>
                    <h4 class="mb-1">{{review['comment']}}</h4>
                    <small>Rated: {{review['rating']}}</small>
                </li>
            </div>
            {% endfor %}
        </div> 
        </div>
    </div>		
</section>
{% endblock %}