{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Search for a book!</h3>
    <form action="/search" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title or Author">
            <small id="bookHelp" class="form-text" Style="color:#9b4800;font-size: medium;">Example: 0375508325, Cosmos or Carl Sagan</small>
        </div>
        <button class="btn btn-outline-warning" type="submit"
        style="width: auto; margin-left: auto; margin-top: 4px;">Search</button>
    </form>
{% endblock %}