{% extends "layout.html" %}
{% block title%}
    Login
{% endblock%}

{% block content %}
<div class="container" style=" width: 100%;height: 100%;font-family: 'Baskervville';margin: 0;">
    <div class="form" style="background-color: #6e5114;width: 300px;height: 300px;margin-right: 800px;border-radius: 5px;margin-top: 20px;margin-left: 100px;box-shadow: 20px 20px 10px #2e1f00;">
    <form action="/login" method="post" style="padding-top: 50px;">
        <div class="form-group" >
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group" >
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-outline-warning" type="submit" style="width: auto;margin-left: auto;margin-top: 30px;">Log In</button>
    </form>
    <div class="menu">
        <a class="btn-outline-warning" data-toggle="collapse" href="{{ url_for('register') }}">Register </a><span>|</span>
        <a class="btn-outline-warning" data-toggle="collapse" href="{{ url_for('login') }}">Login</a>
      </div>
    </form>
  </div>                
</div>
{% endblock %}