{% extends "layout.html" %}
{% block title%}
    Login
{% endblock%}

{% block content %}
<div class="container" style=" width: 100%;height: 100%;font-family: 'Baskervville';margin: 0;">
    <div class="form" style="background-color: #6e5114;width: 500px;height: 500px;margin-right: 700px;border-radius: 5px;margin-top: 100px;margin-left: 100px;box-shadow: 20px 20px 10px #2e1f00;">
    <form action="/login" method="post" style="padding-top: 50px;">
        <div class="form-group" style="width: 300px;margin-left: 100px;">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group" style="width: 300px;margin-left: 100px;">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit" style="width: 300px;margin-left: 100px;margin-top: 30px;">Log In</button>
    </form>
    <div class="menu">
        <a href="{{ url_for('register') }}">Register </a><span>|</span>
        <a href="{{ url_for('login') }}">Login</a>
      </div>
    </form>
  </div>                
</div>
{% endblock %}